# Build and compiler artifacts
out/
cache/
zkout/
.gas-snapshot/

# Foundry and test artifacts
lib/
broadcast/

# Allow /broadcast directory but ignore Anvil-specific logs and dry runs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Environment and OS files
.env
.DS_Store

# Docs 
docs/

# zkSync toolchain files (optional based on usage)
foundryup-zksync
foundryup-zksync/
broadcast/
